<?xml version="1.0" ?>
<robot name="suitcase">
  <dynamics damping="0.5" friction="0.9"/>

  <link name="suitcase_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.002"/>
    </inertial>
    <contact>
      <lateral_friction value="0.9"/>
      <rolling_friction value="0.5"/>
      <stiffness value="30000"/>
      <damping value="1000"/>
    </contact>

    <!-- suitcase body visual -->
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="suitcase.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="mat">
        <color rgba="0.7 0.8 0.9 1"/>
      </material>
    </visual>

    <!-- 4 wheels visual -->
    <visual>
      <origin rpy="0 0.8 0" xyz="-0.0236 -0.3 0.1623"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="wheel_mat"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
    <visual>
      <origin rpy="0 0.8 0" xyz="0.1629 -0.3 -0.0188"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="wheel_mat"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
    <visual>
      <origin rpy="0 0.8 0" xyz="-0.1629 -0.3 0.0188"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="wheel_mat"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>
    <visual>
      <origin rpy="0 0.8 0" xyz="0.0236 -0.3 -0.1623"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="wheel_mat"><color rgba="0.08 0.08 0.08 1"/></material>
    </visual>

    <!-- body collision lifted a bit so wheel collisions dominate ground contact -->
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="suitcase.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>

    <!-- 4 wheels collision -->
    <collision>
      <origin rpy="0 0.8 0" xyz="-0.0236 -0.3 0.1623"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0.8 0" xyz="0.1629 -0.3 -0.0188"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0.8 0" xyz="-0.1629 -0.3 0.0188"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0.8 0" xyz="0.0236 -0.3 -0.1623"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
  </link>
</robot>